
* {
    background-color: #2c2a1d;
}

.container {
    position: relative;
    top: 0px
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 80px;
  }

  .list {
    position: absolute;
    top: 55px;
    left: 580px;
  
  }
  
  .list-item {
    position: relative;
    display: inline;
    font-size: 1.5em;
    right: 80px;
    top: -21px;
    margin: 15px;
    text-align: center;
    color: #726f6f;
  }

  li:first-child {
    color: #ffffff;
 }

  .justice-image > img{
    position: relative;
    top: 300px;
    left: -10px;
    height: 350px;
    width: 105%;
  }

  .button-small {
    position: absolute;
    top: 50px;
    right: 110px;
    width: 120px;
    height: 5vh;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #A77B06;
    border-color: #A77B06;
    cursor:pointer;
  }

  .hero-heading {
    position: absolute;
    top: 90px;
    text-align: center;
    left: 80px;
    width: 25%;
    font-size: 3em;
    font-weight: bold;
    line-height: 70px;
    color: #ffffff;
  }

  .description {
    position: absolute;
    top: 130px;
    text-align: center;
    right: 120px;
    width: 20%;
    font-size: 1em;
    line-height: 30px;
    color: #999191;
  }
  
